body {
    background-color: #232323;
}

h1 {
    color: white;
}

.squares {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
}

#container { 
    /* Contains the grid of colored squares */
    margin: 0 auto;
    max-width: 600px;
}